/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* PÁGINA 2 NOSOTROS */
.containernos{
    width: 100%;
    height: auto;
    position: relative;
        div{
            article{
                display: flex;
                justify-content: space-around;
                margin-top: 5%;
            }
        }
}

    .parrafoininos{
        font-size: $textMd;
        color: $colortext;
        padding: 2em;
    }

    .pagnosim img{
        width: 400px;
        height: 500px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
    }

            .nosifra{
                width: 150em;
            }    

            .parrafopronos{
                font-size: $textMd;
                color: $colortext;
            }
            
            .iframemybar{
                    width: 100%;
                    height: 600px;
            }

    .TeventosT{
        color: $colortext;
        font-size: $textMd;
        margin-top: 5%;
    }
        
    .titulofte{
        position: relative;
        text-align: center;
    }

        .fotoeventosnos{
            width: 350px;
            height: 400px;  
            
            img{
                width: 100%;
                height: 100%;
                border-radius: 5px;
                box-shadow: $box-shadow; 
                &:hover{
                    -webkit-transform:scale(1.1);transform:scale(1.1);
                }
            } 

            p{
                font-size: $textMd;
                color: $colortext;
                position: absolute;
                left: 50%;
                top: 10%;
                transform: translate(-50%, -50%);
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
            }
        }


        .drinktruck .promociontruck{
            font-size: $textMd;
            color: $colortext;
        }

        .drinktruckv{
            width: 700px;
            height: 400px;

            video{
                width: 100%;
                height: 100%;
            }
        }

    .Tbrm{
        font-size: $textMd;
        color: $colortext;
        margin-top: 5%;
    }

    .PQTbarramovil{
        font-size: $textMd;
        color: $colortext;
    }

.Tubc{
    font-size: $textMd;
    color: $colortext;
    margin-top: 5%;
}