@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0%;
    background: linear-gradient(90deg, rgba(119,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    overflow-x: hidden;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------PÁGINA INDEX----------- */

/*--------- header ---------*/
    .hbienvenida{
        display: flex;
        background-image: linear-gradient( 90deg, #a1081a, #000 40%);
        color: white;
        font-size: 2em;
        padding: 0.2em;      
    }


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*---------- Nav ----------*/
nav{ 
    background-color: #a1081a;
}

    .hlogo{
        width: 20em;
        height: auto;
    }

    #navnav{
        display: flex;
        justify-content: space-around;
    }

            #navbarNav ul{
                list-style: none;
            }

                #navbarNav ul li{
                    padding: 0 1em;
                    margin: 0.2em;
                    font-size: 2em;
                }

                     #navbarNav ul li a{
                        text-decoration: none;
                        color: white;
                        background-color: black;
                        padding: 5px 10px;
                        border-radius: 5px;
                    }

                        #navbarNav ul li :hover{
                            background-color: #9c323e;
                        }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                
/*---------- Contenido ----------*/
   #inicioP{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "videoinicio" "imginicio";
    grid-gap: 1em;
   }
   
        #inicioP video{
            width: 100%;
            height: 100%;
        }

        #inicioP img{
            width: 100%;
            height: 100%;
        }

  
    .VIinicio1{
        grid-area: videoinicio;
    }

    .VIinicio2{
        grid-area: imginicio;
    }

        @media(min-width: 768px){
            #inicioP{
                display: flex;
                flex-direction: row;
                grid-gap: 4em;
                margin: 0 0 0 4em;
            }
        }

        @media(min-width: 1024px){
            #inicioP{
                display: flex;
                flex-direction: row;
                grid-gap: 6em;
                margin: 0 0 0 6em;
            }
        }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/*----------- footer ----------*/
    footer{
        text-align: center;
        background-color: #a1081a;
        border-top: solid 1px #000;
        margin-top: 5%;
    }

        .footer-h{
            color: white;
            font-size: 2em;
            margin: 0.5em;
        }

            .pie-página{
                list-style: none;
                padding: 1em;
                margin: 2em;
            }

                .pie-página li{
                    display: inline;
                    padding: 1.5em;
                }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PÁGINA 2 NOSOTROS */

#inicionosotros{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

    .FN1{
        margin: 5em 4em;
    }

    .fotosirviendo{
        width: 400px;
        height: auto;
        border-radius: 1em;
        box-shadow: 4px 6px 8px rgb(255, 255, 255);;
    }

    .textonosotros{
        color: white;
        font-size: 3em;
        text-align: center;
        margin-top: 15%;
        animation: backInDown;
        animation-duration: 1.5s; 
    }

/* ----------------------------------------------------- */

.mybar{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

    .iframemybar{
        width: 100%;
        height: 600px;
    }

    .infomybar{
        margin: 10em;
        text-align: center;

    }

        .texto-promocional{
            color: white;
            font-size: 3em;
            white-space: normal;
            word-spacing: 0.3em; 
        }
/* ----------------------------------------------------- */

.TeventosT{
    color: white;
    font-size: 4em;
    margin-top: 5%;
    text-align: center;
}

#eventos{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

    #eventos .fotoeventos p{
        color: white;
        font-size: 3em;
        text-align: center;
    }  
     
    #eventos .fotoeventos .barrasmoviles{
        
        width: 400px;
        height: 500px;
        border-radius: 15px;
        box-shadow: 5px 8px 12px rgb(255, 255, 255);
    }

        #eventos .fotoeventos .barrasmoviles:hover{
            -webkit-transform:scale(1.1);transform:scale(1.1);
        }

/* ----------------------------------------------------- */

.drinktruck{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}    

    .drinktruck .promociontruck{
        color: white;
        font-size: 3em;
        text-align: center;
        margin: 3em; 
    }

    .drinktruck div{
        text-align: center;
    }


    .drinktruck div .videotruck{
        width: 40%;
        height: auto;
        margin: 0 5em;
        border: dashed 3px red; 
    }
/* ----------------------------------------------------- */

.PQTbarramovil{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}   

    .PQTbarramovil h1{
        color: white;
        font-size: 3em;
        margin-bottom: 3%;
    }

    .PQTbarramovil div p{
        color: white;
        font-size: 2em;
        padding: 0.5em;
        margin: 1em;  
    }
/* ----------------------------------------------------- */

.ubicación-nosotros{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}

    .ubicación-nosotros h1{
        color: white;
        font-size: 3em;
        margin-bottom: 3%;
    }

    .ubicación-nosotros iframe{
        text-align: center;
    }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA 3 GALERÍA- */

.titulogalería{
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 5em;
}

        #galería .FTG{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            margin: 10px;
            box-shadow: 3px 4px 6px rgb(255, 255, 255);
        }

            .FTG:hover{
                -webkit-transform:scale(1.1);transform:scale(1.1);
            }


                .foto-galería1{
                    grid-area: foto1;

                }

                .foto-galería2{
                    grid-area: foto2;

                }

                .foto-galería3{
                    grid-area: foto3;

                }

                .foto-galería4{
                    grid-area: foto4;

                }

                .foto-galería5{
                    grid-area: foto5;

                }

                .foto-galería6{
                    grid-area: foto6;

                }

                .foto-galería7{
                    grid-area: foto7;

                }

                .foto-galería8{
                    grid-area: foto8;

                }

                .foto-galería9{
                    grid-area: foto9;

                }

                .foto-galería10{
                    grid-area: foto10;

                }

                .foto-galería11{
                    grid-area: foto11;

                }

                .foto-galería12{
                    grid-area: foto12;

                }

                .foto-galería13{
                    grid-area: foto13;

                }

                .foto-galería14{
                    grid-area: foto14;

                }

                .foto-galería15{
                    grid-area: foto15;

                }

                .foto-galería16{
                    grid-area: foto16;

                }

                .foto-galería17{
                    grid-area: foto17;

                }

                .foto-galería18{
                    grid-area: foto18;

                }
/* --------------------------------------------------------------------------- */
      
        #galería{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(9, 350px);
            grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 foto10" "foto11 foto12" "foto13 foto14" "foto15 foto16" "foto17 foto18";
            grid-gap: 3em;
            margin-top: 5%;
            margin-right: 1.5%;
        }


        @media (min-width: 768px){
            #galería{
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(6, 350px);
                grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 foto9" "foto10 foto11 foto12" "foto13 foto14 foto15" "foto16 foto17 foto18";
            }
        }
    
        @media(min-width: 1200px){
            #galería{
                grid-template-columns: repeat(6,1fr);
                grid-template-rows: repeat(3, 35vh);
                grid-template-areas: "foto1 foto2 foto3 foto4 foto5 foto6" "foto7 foto8 foto9 foto10 foto11 foto12" "foto13 foto14 foto15 foto16 foto17 foto18";
            }
        }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA 4 COCTELES */


.carta-cócteles{
    color: white;
    font-size: 5em;
    text-align: center;
    padding: 30px 0;
    margin-top: 5%;
}

    #containercoc div article{
        display: flex;
        justify-content: space-around;
        margin-top: 5em;
    }

        .card{
            width: 30em;
            height: auto;
            background-color: #750411;
        }

            .card img{
                width: 100%;
                height: 350px;
            }
            
            .card h2{
                color: white;
                font-size: 3em;
                text-align: center;
                border-top:  solid black;;
                border-bottom: solid black;
                padding: 0.5em;
            }

            .card ul{
                text-align: center;
                color: white;
                font-size: 2em;
            }

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* PAGINA 5 CONTACTO */

#contactoBMV{
    display: flex;
    flex-direction: column;
    text-align: center;
}

    #contactoBMV h1{
        color: white;
        font-size: 5em;
        text-align: center;
        margin-top: 5%;
    }



    #contactoBMV .CBMV-info{
        display: flex;
        justify-content: space-around;
    }

        #contactoBMV .CBMV-info fieldset{
            width: 50%;
            height: auto;
            border: dashed 3px red;
            margin-top: 3%;
        }

            #contactoBMV .CBMV-info fieldset form{
                padding: 2em 0;
            }

            
            #contactoBMV .CBMV-info legend{
                color: white;
                font-size: 3em;
                
            }

                .dato-infoc{
                    color: white;
                    font-size: 2em;
                    padding: 0 1em;
                    
                }

                .textoinfo{
                    width: 60%;
                    margin: 10px;
                }

                .procesarinfo{
                    margin: 0 20px;
                    font-size: 2em;
                }      

    #contactoBMV div img{
        width: 50%;
        height: auto;
        margin-top: 2%; 
    }
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* FIN */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */